	body {
		margin: 0 auto;
		background-color: rgb(218, 182, 136);
	}
	
	h1{
		text-align: center;
		font-family: "Cormorant Garamond", serif;
  		font-optical-sizing: auto;
  		font-weight: weight;
 		font-style: normal;

	}

	p{
		
	}

	img{
		
	}
	
	.imgindex{
		
	}
	
	#principal {
		
	}

	ul{
		list-style-type: none;
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
	}

	a{
		display: inline-block;
		font-size: 10px;
		list-style-type: none;
		text-decoration: none;
		border: 1px solid white;
		transition: background-color 5s;
		padding: 29px;
		margin: 25px 300px;
	}