	body {
		margin: 0 auto;
		background-color: rgb(218, 182, 136);
	}
	
	h1{
		text-align: center;
		font-family: "Cormorant Garamond", serif;
  		font-optical-sizing: auto;
  		font-weight: weight;
 		font-style: normal;

	}

	p{
		
	}

	img{
		
	}
	
	.imgindex{
		
	}
	
	#principal {
		
	}

	ul{
		list-style-type: none;
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
		text-align: center;
	}

	a{
		display: inline-block;
		font-size: 20px;
		list-style-type: none;
		text-decoration: none;
		border: 1px solid white;
		transition: background-color 5s, width 5s, height 5s;
		padding: 29px;
		margin: 25px 300px;
		width: 150px;
		height: 80px;
		box-shadow: 0 0 35px black;
		overflow: hidden;
	}

	a:hover{
		background-color: rgb(255, 227, 166);
		width: 750px;
		height: 500px;
	}

	#galorato{
		margin-top: 200px;

		width: 500px;
	}